<div class="add-item-page">
  <h2>Add New Item</h2>

  <form [formGroup]="itemForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="name">Name:</label>
      <input id="name" type="text" formControlName="name" />

      @if (itemForm.get('name')?.touched && itemForm.get('name')?.hasError('required')) {
      <div class="error">Name is required.</div>
      }
    </div>

    <div>
      <label for="price">Price:</label>
      <input id="price" type="number" formControlName="price" />

      @if (itemForm.get('price')?.touched) { @if (itemForm.get('price')?.hasError('required')) {
      <div class="error">Price is required.</div>
      } @else if (itemForm.get('price')?.hasError('min')) {
      <div class="error">Price must be greater than 0.</div>
      } }
    </div>

    <div>
      <label for="description">Description:</label>
      <textarea id="description" formControlName="description"></textarea>
    </div>

    <div>
      <label for="quantity">Quantity:</label>
      <input id="quantity" type="number" formControlName="quantity" />

      @if (itemForm.get('quantity')?.touched) { @if (itemForm.get('quantity')?.hasError('required'))
      {
      <div class="error">Quantity is required.</div>
      } @else if (itemForm.get('quantity')?.hasError('min')) {
      <div class="error">Quantity must be greater than 0.</div>
      } }
    </div>

    <button type="submit" [disabled]="itemForm.invalid">Add Item</button>
  </form>
</div>
